<div class='row around-xs'>
    <div class="col-xs-auto">
        <a href="#popupDialog" data-rel="popup" data-position-to="window" data-role="button" data-inline="true"
           class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button'
           data-transition="pop"><i class='zmdi zmdi-plus zmd-2x'></i> Agregar</a>
    </div>

</div>
<div data-role="popup" id="popupDialog">

    <div data-role="header">
        <h1 class='nd-title'>Agregar nueva nota</h1>
    </div>

    <div data-role="content">

        <textarea name="newNote" id="newNote" cols="30" rows="10"></textarea>
        <a href="dialog/index.html" data-rel="back" data-role="button" data-inline="true" class="ui-btn ui-btn-primary"><i
                class='zmdi zmdi-check'></i> Agregar</a>
        <a href="dialog/index.html" data-rel="back" data-role="button" data-inline="true" class="ui-btn ui-btn-primary"><i
                class='zmdi zmdi-delete'></i> Cancelar</a>


    </div>
    <!--
    <div class='col-xs-auto'>
        <a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-assignment zmd-2x'></i><strong>Clipboard</strong></a>
    </div>
    <div class='col-xs-auto'>
        <a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-fire zmd-2x'></i><strong>Hot Stuff</strong></a>
    </div>
    <div class='col-xs-auto'>
        <a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-cloud-outline-alt zmd-2x'></i><strong>Cloud</strong></a>
    </div>
    <div class='col-xs-auto'>
        <a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-format-color-fill zmd-2x'></i><strong>Fillcolor</strong></a>
    </div>
    -->
</div>